
<% @groups.each do |group| %>
  <div>
    <h3><%= group.name %></h3>
  </div>
  Description: <%= group.description %><br>
  Meet Date: <%= group.meet_date %>
  <!-- adds game -->
  <br>
<% end %>


<a href= "/groups/new"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">+
</button></a> Create New<br>