<div class ="container text-center">
	<h4>This awesome app was made by: </h4>

	<h3 class="allstars">Dani Zaghian </h3>
	<div class="about">
		<p>Dani comes from The Capital, where she was once a member of the royal family. During her youth, she rebelled against the actions of the Elder Council when she discovered their corruption, and was forced into exile. She grew up in the wilderness, and learned at an early age that there were only two types of people in the world: the quick and the dead.</p>

		<p>As she learned to fend for herself, she learned, too, many invaluable skills, not the least of which being web development. She is a feral creature, fierce and brilliant, and we are lucky to have her on our side of Looking For Group.</p></div>
	<h3 class="allstars">Jamey Hollis </h3>
	<div class="about">
		<p>Jamey hails from the frigid north, where he cut his teeth in the logging industry. After years of lumberjacking his way back and forth through the frozen tundras of Canadia, he sustained a disfiguring injury in which one of his arms had to be amputated, putting an end to his logging career. Following this traumatic experience Jamie moved south.</p>
		<p>He was never the same afterwards. Quiet, withdrawn, and in possession of an ungovernable rage, he put his two remaining hands to work mastering the lost art of computer programming, and has never looked back. </p>
	</div>
	<h3 class="allstars">Brian Gabot</h3>
	<div class="about">
		<p>Brian was a formidable wizard in a past life. Using magicks and blood sacrifices the ignorant would call 'crimes against nature', he was able to peer through the veils of time and possibility, and saw the end of his world, looming upon its unknowing denizens. Unable to avert the impending catastrophe, he used his magic to transport him and his fellow people away from that doomed place, and into the world you and I know as home.</p>
		<p>It has not been easy for Brian; he was able to save his entire race, but now he is forced to learn and lead a new way of life. His fellow travelers have no recollection of his triumph against the maw of oblivion, nor of the debt they owe him, which can never be repayed. Brian cares not about such petty things such as gratitude, however, and prefers to busy himself with such activities as Looking For Group.</p>
	</div>
	<h3 class="allstars">Will Cauthen </h3>
	<div class="about">
		<p>Will is by far the least interesting of the motley crew comprising the Looking For Group developers, but what he lacks in awesome backstory, he makes up for in style and dashing good looks. A local San Franciscan, and eldest son of a oil baron, Will hails from wealth and beauty, and has grown up in lavish comfort, wanting for nothing.</p>
		<p>He learned web development from the best instructors money could buy, but spends most of his days chasing cheap perfume, and dreaming of other places he could be, occaisionally breaking free from his opium dreams to trouble himself with writing a few lines of code. What he lacks in talent, he makes up for in style, repetition, and dashing good looks.</p>
	</div>
</div>