<% @users.each do |user| %>

    <div class="container">
	    <div class="row">
	    	<div class="one-half column">Username: <%= user.username %> </div>
	    	<div class="one-half column">Description: <%=  user.description %> </div>
	    	<div class=""> </div>
	    </div>
    </div>

<% end %>