<h1>This is the welcome page!</h1>
<h2>Welcome!</h2>
<h3>But it's also an about us page! Sneaky sneaky</h3>
<button id="welcomeButton" onclick="location.href='/groups'"> We are a motley crew of hardened professionals. And by hardened, I mean fun-loving. And by professionals, I mean geeks. Obviously.<br>
Together, with our combined expertise, we have created what we believe to be the end-all be-all platforms for gamer socialization. 
<br>
Look on our works, ye mighty, and despair.</button>
